*{
  font-family: sans-serif ;
  padding: 0px;
  margin: 0px;
}


header{
  text-align: center;
  background-color: #98ff96;
  font-size: 20px;
  padding: 1em;
}

.contentNavBar{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

ul{
  list-style: none;
  display: inline;
  padding-top: 0.5em;
  padding-right: 3em;
}


ul li{
  display: inline;
  padding: 1em;
}
ul li a{
  text-decoration: none;
  color: rgb(0, 61, 0);
}

ul li a:hover{
  color: gray;
  transition: 0.5s;
}

.logoNav{
  width: 40px;
  height: 40px;
}
carrito{
  padding: 0em;
  margin: 0em;
}

.contentProducto{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.producto{
  text-align: center;
  margin: 2em;
  height: 450px;
  width: 400px;
  border-radius: 15px;
  background-color: #beffbd;
  z-index: 20em;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.151);
}

.producto img{
  margin-top:1em ;
  height: 200px;
  width: 300px;
}
.producto h2{
  margin: 1em 0em 0.5em 0em;
  color: #0e380e;
}
.producto h3{
  margin: 0.2em 0em 0em 1em;
  color: #0e380e;
  text-align: left;
}

.producto p{
  margin: 1em 0em 0em 1em;
  color: #0e380e;
  text-align: left;
  font-size: 18px;
}

